@font-face {font-family: 'GTWalsheimPro-Regular';src: url('https://cdn.shopify.com/s/files/1/0588/4228/4186/files/GTWalsheimPro-Regular.woff?v=1669253354') format('woff');} 

*{
    margin: 0;
    padding: 0;
    
    font-family: 'GTWalsheimPro-Regular', sans-serif ;
}

body {
    width: 300px;
    height: 500px;

    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

section{
    position: absolute;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
    padding-top: 2rem;
    
    pointer-events: none;
    opacity: 0;
    /* border-style: dotted; */
}

#findRooms{
    aspect-ratio: 1/1;
    width: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.home-button{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#sign-out{
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#create-page{
    position: absolute;
    top: 1rem;
    right: 1rem;
}

/* home page */
#home{
    /* overflow-y: scroll; */
}

#home .active-groups{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

#home .all-groups{
    width: 100%;
    height: 40%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border-style: dotted; */

}

.groups{
    width: 70%;
    height: 100%;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-style: dotted;
    border-radius: 1rem;

    padding:1rem;

}

.group{
    width: 80%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-style: dotted;

    padding: 0.5rem;
    border-radius: 1rem;

    margin-bottom: 0.5rem;
}

.group .left{
    width:100%;
}


/* user profile */
.user-info{
    position: relative;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info h3{
    margin: 0.5rem;
}

.user-info .pfp{
    aspect-ratio: 1/1;
    height: 4rem;

    padding: 1rem;
    
    overflow: hidden;
    
    background-color: rgb(132, 132, 132);
    
    border-radius: 50%;
}

.user-info .pfp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}




/* search room page */

#searchRoom{
    /* border-style: dotted; */
}

#searchRoom #search-public{
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;


}

#searchRoom #search-public input{
    padding:0.5rem;
}

.private{
    width: 80%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1rem;
}

#join-room{
    display: flex;
    height: 2rem;
}

#join-room input{
    width: 100%;
    padding:0.5rem;
}

.public {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    padding:1rem;
}


.public .groups{
    height:100%;
}

/* create pageee */

#create {
    /* border-style: dotted; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#create-room{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding:1rem;

}

#create-room h4{
    margin: 0.5rem;
}

#create-room input{
    width: 70%;
    padding:0.5rem;
}
#create-room textarea{
    width: 70%;
    padding:0.5rem;
}

#create-room button{
    width: 70%;
    padding:0.5rem;
}

#create .make-public{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#create .wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#create .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    transform: scale(0.8);
  }
  
  /* Hide default HTML checkbox */
  #create .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  #create .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #create .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  #create input:checked + .slider {
    background-color: #2196F3;
  }
  
  #create input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  #create input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  #create .slider.round {
    border-radius: 34px;
  }
  
  #create .slider.round:before {
    border-radius: 50%;
}


/* remove  */
::-webkit-scrollbar {
    /* width: 0; */
    width: 18px;
    /* width: 100px; */
}

/* Track */
::-webkit-scrollbar-track {
    background:transparent;
}

::-webkit-scrollbar-thumb {
    background-color: black;

    background-clip: content-box;
    border: 5px solid transparent;
    border-radius: 10px;
    /* background-image: url('https://assets.materialup.com/uploads/cde34f59-a45f-48d4-9699-3a686999b9dc/preview.gif'); */

  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  /* background: #555; */
  opacity: 0.8;
}